html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs);
  color: #ffffff;
  background-color: #20181f;
  line-height: 1.6;
  display: grid;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
}

#drawer-container {
  width: 40rem;
  height: 100%;
  position: fixed;
  top: 0px;
  left: calc(-40rem - 4rem);
}

.chilanka-regular {
  font-family: "Chilanka", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Style pour la barre de défilement */
::-webkit-scrollbar {
  width: 12px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  background: #7d3c98; /* Couleur de fond de la scrollbar en violet */
}

::-webkit-scrollbar-thumb {
  background-color: #e74c3c; /* Rouge pour la partie mobile de la scrollbar */
  border-radius: 6px; /* Arrondir les coins de la scrollbar */
  /* border: 3px solid #ffffff;  */
}

/* Support pour Firefox */
.scrollable-content {
  scrollbar-color: #e74c3c #7d3c98; /* Rouge pour la partie mobile, violet pour le fond */
  scrollbar-width: thin; /* Minceur de la scrollbar pour Firefox */
}
