<link rel="stylesheet" href="components/fullscreen-drawer.css" />

<div id="fullscreen-drawer">
  <div id="fullscreen-drawer-content"></div>
  <button class="close-fullscreen-btn" onclick="closeFullscreenDrawer()">
    Fermer
  </button>
</div>

<style>
  #fullscreen-drawer {
    position: fixed;
    top: -100%; /* Drawer caché au-dessus de l'écran */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--p-125); /* Couleur légèrement plus sombre */
    color: var(--t); /* Couleur du texte */
    transition: top 0.4s ease; /* Animation lors de l'ouverture/fermeture */
    z-index: 2000; /* Doit être par-dessus le drawer latéral */
    padding: 0rem; /* Padding interne */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Bouton en bas de l'écran */
  }
  #fullscreen-drawer-content {
    width: 100%;
    height: 100%;
    background-color: var(--p-125); /* Couleur légèrement plus sombre */
    display: grid;
    justify-content: center;
    justify-items: center;
    font-size: 3rem;
    font-family: "Chilanka", cursive;
    color: white;
    overflow-y: scroll;
  }

  #fullscreen-drawer-content > .poem-container {
    text-align: center;
    padding: 1.5rem;
  }

  .poem-container > h2 {
    font-size: 4rem;
  }

  .close-fullscreen-btn {
    background-color: var(--s); /* Couleur secondaire pour le bouton */
    border: none;
    color: var(--p); /* Texte en couleur primaire */
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.8rem;
  }

  .close-fullscreen-btn:hover {
    background-color: var(--s-75); /* Variation de couleur pour l'effet hover */
  }
</style>

<script>
  // Fonction pour ouvrir le drawer pleine page
  function openFullscreenDrawer(path) {
    document.getElementById("fullscreen-drawer").style.top = "0";
    loadHTML("fullscreen-drawer-content", path);
  }

  // Fonction pour fermer le drawer pleine page
  function closeFullscreenDrawer() {
    document.getElementById("fullscreen-drawer").style.top = "-100%";
  }
</script>
