<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Youtube Game</title>

  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="index.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Knewave&family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Knewave&family=Press+Start+2P&family=Viga&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Knewave&family=Press+Start+2P&family=Rubik+Wet+Paint&family=Viga&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./../main.css" />
  <link rel="stylesheet" href="intro.css" />
</head>
<section>
  <h1 class="ligne-ola press-start-2p-regular" id="main-title">HOME</h1>
</section>
